// From https://github.com/alphagov/static/blob/c19d4b991f122e68180ad765d14edf569d165228/app/assets/stylesheets/helpers/_header.scss

.show-global-bar #global-header-bar {
  display: none;
}

$covid-yellow: #ffe114;
$covid-grey: #262828;

.global-bar {
  @include govuk-font(19);
  background-color: govuk-colour("black");
  border-top: govuk-spacing(2) solid $covid-yellow;
  border-bottom: 1px solid govuk-colour("white");
  // display: none;

  .show-global-bar & {
    display: block;
  }

  .govuk-link,
  .govuk-link:link {
    color: govuk-colour("white");

    &:visited {
      color: govuk-colour("white");
    }

    &:focus {
      color: govuk-colour("black");
    }
  }
}

.global-bar-message {
  margin-bottom: 0;
  margin-top: 0;
  padding: govuk-spacing(4) 0;
}

.global-bar-title {
  font-weight: 700;
  margin-right: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  &:only-child {
    margin: 0;
  }
}

.global-bar-title__nowrap {
  white-space: nowrap;
}

.global-bar-title__icon {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 50px;
  min-height: 45px;
  background-image: url("/public/images/covid-arrow.png"); // PNG fallback for SVG
  background-image: url("/public/images/covid-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 37px auto;

  @include govuk-media-query($from: desktop) {
    // IE10/11 specific - vertical align in flexbox is ignored
    // unless an explicit height is set
    @media screen and (min-width:0\0) {
      height: 45px;
    }
  }
}

.global-bar-dismiss-wrapper {
  margin-top: govuk-spacing(4);
}

.global-bar__dismiss {
  display: none;
}

.global-bar__dismiss--show {
  display: inline-block;
}

.app-c-govspeak .global-bar__heading {
  @include govuk-font(19, $weight: bold);
  margin-top: 0;
  margin-bottom: govuk-spacing(1);
}

.app-c-govspeak .global-bar__list {
  margin-top: 0;
}

.global-bar__list {
  margin-top: 0;
}

.global-bar-additional {
  display: none;
  padding: govuk-spacing(4) 0;
  background-color: $covid-grey;
}

.global-bar-additional__text {
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}

.global-bar-additional__text-govspeak {
  color: govuk-colour("white");
}

.global-bar-image {
  display: block;
  position: absolute;
  margin-bottom: govuk-spacing(1);
  right: 0;
  bottom: 0;

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

.global-bar-additional--show {
  display: block;
}
